# SPDX-License-Identifier: GPL-3.0-only
#
# systemd/sud.socket
#
# Copyright (C) Erny <erny@castellotti.net>

[Unit]
Description=Super User Daemon - privilege manager for systemd/Linux 
Requires=sud@.service

[Socket]
ListenSequentialPacket=@sud_privilege_manager_socket
Accept=yes

[Install]
WantedBy=sockets.target
